.App {
  text-align: center;
  /* padding: 3%; */
}

.Navbar{
  width: 90%;
  display: flex;
  column-gap: 5%;
  background-color: #569ce2;
  padding-top: 3%;
  padding-left: 8%;
  padding-bottom: 3%;
}
li{
  padding: 2%;
  float: left;
  list-style: none;
}
.Links{
  width: 100%;
  color: white;
}
.Button{
  font-size: 14px;
  border-style: none;
  color: white;
  padding-top: 9%;
  padding-bottom:9%;
  background-color: #569ce2;
  /* width: 100%; */
}
a{
  text-decoration: none;
  color: white;
}
.button1{
  margin-top: 6%;
}
.Button:hover{
  border-radius: 30px;
  background-color: #315a85;
}
.MidPage{
  
  color: white;
  margin-right: 4%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-left: 6%;
}
.navMidPAge{
  background-color:#569ce2 ;
}
.row1-col1{
  padding-left: 3%;
  text-align: start;
  width: 50%;
  margin-top: 2px;
}
.row1-Col2{
  width: 100%;
  
}
.LogoImg{
  /* width: 90%; */
}
.flex{
  display: flex;
  column-gap: 10%;
  /* margin-right: 5%; */
}
.button {
  background-color: #315a85; 
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 10%;
}

/* bottom styling */
.BottomPage{
  text-align: center;
}
.row2{
  margin-left: 19%;
  width: 60%;
  color: #758691;
}
.color{
  color: #1f3141;
}
.Bottom-row2{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  column-gap: 18%;
  padding: 2%;
}
/* .image{
  width: 80%;
} */
.BottomHead{
  color: #abccec;
}
/* Media query */
@media screen and (max-width: 706px) {
  div.flex {
    display: block;
    /* margin-top: -7%; */
  }
}
@media screen and (max-width: 682px) {
  div.Navbar {
    display: block;
    /* margin-top: -7%; */
  }
}
@media screen and (max-width: 682px) {
  div.Bottom-row2 {
    display: block;
  }
}